.advantages {
  padding: 53px 20px 0;
  background-color: #f2f2f2;
}

.advantages__img {
  margin-top: 20px;
  text-align: center;
}

@media @tablet-widths {
  .advantages__wrapper {
    width: 380px;
    margin-left: 280px;
  }
}
