.application {
  padding: 28px 20px 32px;
  background-color: #1d2631;
}

.application__links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  text-align: center;
}

.application__link {
  display: block;
  width: 55px;
  height: 55px;
  border: #ffffff solid 1px;
}

.application__text {
  margin: 0;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
