.contacts-list {
  padding: 0 20px;
  margin-top: 15px;
  text-align: center;
}

.contacts-list__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

.contacts-list__info {
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  font-weight: lighter;
  color: #d22856;
}

@media @tablet-widths {
  .contacts-list {
    width: 245px;
    margin-top: 35px;
    padding: 0;
  }

  .contacts-list:nth-child(1) {
    width: 50%;
  }
    .contacts-list:nth-child(2) {
    width: 50%;
  }
    .contacts-list:nth-child(3) {
    width: 225px;
  }
}

@media @desktop-widths {
    .contacts-list:nth-child(1) {
      width: 245px;
  }
    .contacts-list:nth-child(2) {
      order: 2;
      width: 245px;
  }
    .contacts-list:nth-child(3) {
      width: 245px;
  }

  .contacts-list__title {
    display: block;
    margin-top: 30px;
    font-size: 18px;
  }
}
