.contacts {
  padding-top: 50px;
  background-color: #ffffff;
}

.contacts__text {
  margin: 0;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.contacts__map {
  margin-top: 25px;
  height: 300px;
  background: #ffffff url(../../img/bg-map-mobile@1x.png) no-repeat center;
}

@media @tablet-widths {

  .contacts__text {
    width: 375px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__map {
    width: 100%;
    background: #ffffff url(../../img/bg-map-mobile@1x.png);
  }
}

@media @desktop-widths {
  .contacts__text {
    width: 475px;
    font-size: 50px;
    line-height: 60px;
  }
}
