.form-block {
  padding: 10px 20px 15px;
}

.form-block--gray {
  background-color: #f2f2f2;
}

.form-block__title {
  width: 220px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #d22856;
}

.form-block--contact {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media @tablet-widths {
  .form-block {
    position: relative;
    margin-bottom: 60px;
  }

  .form-block__title {
    width: 380px;
  }

  .form-block--gray {
    background: none;
  }

  .form-block--name {
    order: -5;
    padding: 0;
  }

  .form-block--ach {
    .border();
    order: -2;
    padding: 45px 60px;
  }

  .form-block--contact {
    .border();
    order: -3;
    padding: 45px 60px;
  }

  .form-block--app {
    .border();
    order: -4;
    padding: 45px 60px;
  }

  .form-block--description {
    .border();
    order: -1;
    padding: 45px 0;
  }

  .form-block__title--app {
    position: absolute;
    top: -30px;
    left: 116px;
    width: 370px;
    background: #ffffff;
  }

  .form-block__title--contact {
    position: absolute;
    top: -30px;
    left: 175px;
    width: 260px;
    background: #ffffff;
  }

  .form-block__title--travel {
    position: absolute;
    top: -30px;
    left: 90px;
    width: 425px;
    background: #ffffff;
  }

  .form-block__title--description {
    position: absolute;
    top: -30px;
    left: 175px;
    width: 250px;
    background: #ffffff;
  }
}

@media @desktop-widths {
  .form-block--name {
    width: 432px;
    margin-right: 70px;
  }

  .form-block--app {
    width: 314px;
  }

  .form-block__title--app {
    left: 35px;
  }

  .form-block--contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 15px;
  }

  .form-block__title--contact {
    left: 340px;
  }

  .form-block--ach {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .form-block--ach .form-element {
    width: 260px;
    margin-bottom: 0;
  }

  .form-block__title--travel {
    left: 250px;
  }

  .form-block--description {
    width: 100%;
    margin-bottom: 40px;
  }

  .form-block__title--description {
    left: 340px;
  }

}
