.form-element {
  margin-bottom: 20px;
}

.form-element__label-text {
  margin-left: 20px;
  line-height: 32px;
  text-transform: uppercase;
  color: #d22856;
}

.form-element__input {
  width: 234px;
  padding: 20px;
  border: #e5e5e5 solid 2px;
}
