.offer-table {
  display: table;
  position: absolute;
}

.offer-table__row {
  display: table-row;
}

.offer-table__column {
  display: table-cell;
  width: 234px;
  padding: 20px 0;
  padding-left: 20px;
  border: #e5e5e5 solid 1px;
}
