.page-header-menu {
  height: 460px;
  padding: 0 20px;
  background:
    url("../../img/iphone-hand-mobile@1x.png") 0 175px no-repeat,
    #283645 url("../../img/bg-back-mobile@1x.jpg") center no-repeat;
}

.page-header-menu--short {
    height: 237px;
    background:
    #283645 url("../../img/bg-back-mobile@1x.jpg") center no-repeat;
  }

@media @tablet-widths {
  .page-header-menu {
    height: 620px;
    background:
    url("../../img/iphone-hand-mobile@1x.png") 375px 175px no-repeat,
    #283645 url("../../img/bg-back-mobile@1x.jpg") center no-repeat;
  }
  
  .page-header-menu--short {
    height: 440px;
    background:
    #283645 url("../../img/bg-back-mobile@1x.jpg") center no-repeat;
  }
}

@media @desktop-widths {
  .page-header-menu {
    height: 800px;
    background:
    url("../../img/iphone-hand-mobile@1x.png") 375px 175px no-repeat,
    #283645 url("../../img/bg-back-mobile@1x.jpg") center no-repeat;
}
}
