.page-header-menu-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 20px 0;
}

@media @tablet-widths {
  .page-header-menu-wrapper {
    padding-top: 40px;
  }
}

@media @desktop-widths {
  .page-header-menu-wrapper {
    position: relative;
    padding: 0;
  }
}
