.reviews-item {
  text-align: center;
  margin-bottom: 30px;
}

.reviews-item:nth-child(n+2) {
  display: none;
}

.reviews-item__name {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.reviews-item__text {
  margin: 0;
  margin-top: 10px;
  line-height: 30px;
}

@media @tablet-widths {
  .reviews-item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .reviews-item__text {
    order: -1;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 30px;
  }

  .reviews-item__age {
    width: 170px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
  }
}

@media @desktop-widths {
  .reviews-item__age {
    width: 230px;
    font-size: 18px;
  }

  .reviews-item__name {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews-item {
    width: 690px;
  }
}


