.title {
  padding: 37px 8px;
  text-align: center;
  background-color: #ffffff;
}

.title__text {
  width: 264px;
  margin: 0 auto;
  line-height: 30px;
  color: #283645;
}

@media @tablet-widths {
  .title {
    padding-top: 92px;
    padding-bottom: 60px;
  }

  .title__text {
    width: 543px;
    font-size: 18px;
    line-height: 30px;
  }
}

@media @desktop-widths {
  .title__text {
    width: 760px;
  }
}
